[Unit]
Description=FastAPI Products API
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/Backend-FastApi-EC2
Environment="PATH=/home/ec2-user/Backend-FastApi-EC2/venv/bin"
ExecStart=/home/ec2-user/Backend-FastApi-EC2/venv/bin/gunicorn -c gunicorn_config.py app.main:app
Restart=always

[Install]
WantedBy=multi-user.target
